.ant-layout .header .logo{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF;
}
.ant-layout .ant-layout-content{
    height: calc(100vh - 70px - 64px);
    padding: 50px;
}